extends layout
block content
    include nav
    body
      h1 Loans
      p
        a.button(href='/loans/new') Create New Loan
      p
        | Filters 
        a(href='/loans') All
        |  
        a(href='/loans?filter=overdue') Overdue
        |  
        a(href='/loans?filter=checked_out') Checked Out
      table
        thead
          tr
            th Book
            th Patron 
            th Loaned on
            th Return by 
            th Returned on
            th Action
        tbody
          each loan in loans
            tr
              td
                a(href="/books/" + loan.Book.id)= loan.Book.title
              td
                a(href="patrons/" + loan.Patron.id)= loan.Patron.first_name
              td= loan.loanedOn()
              td= loan.returnBy()
              td= loan.returned_on
              td
                if !loan.returned_on
                  a.button(href='/loans/' + loan.id) Return Book